/* @import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@500&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Noto+Serif:wght@500&display=swap");
.HomeR {
  max-width: 1400px;
  /* background-color: antiquewhite; */
  overflow: hidden;
  margin-top: -60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Presentacion {
  padding: 25px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Presentacion h1 {
  font-family: "Noto Serif", serif;
  font-size: 55px;
  max-width: 400px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  transform: translateX(-55px);
  z-index: 1;
}
.portadFond {
  z-index: 0;
  width: 400px;
  right: 200px;
  overflow: hidden;
  height: 1099px;
  position: absolute;
  object-fit: contain;
  transform: rotate(270deg);
  opacity: 0.4;
}
.portadaSarten {
  width: 300px;
  transform: rotate(-55deg);

  /* filter: drop-shadow(
    5px 0px 5px rgba(255, 255, 255, 0.629)
  ); */
}

.menuTex {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  /* transform: translateX(-45px); */
  margin-bottom: 90px;
}
.conth2 {
  flex: 1;
  max-width: 500px;
  /* width: 500px; */
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.menuTex h2 {
  font-family: "Noto Serif", serif;

  font-size: 35px;
  /* max-width: 500px; */
  text-align: end;
}
.disco {
  text-align: end;
}
.textmenu {
  flex: 1;
  max-width: 500px;
  /* margin-bottom: 15px; */
  /* text-align: left; */
  font-family: "Noto Serif", serif;
  font-style: italic;
}
.plato {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.description {
  max-width: 280px;
}
.description h3 {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  margin-bottom: 25px;
  padding: 0;
}
.description p {
  font-family: "Noto Serif", serif;
  font-style: italic;
}
.pla1 {
  width: 250px;
}
.pla2 {
  width: 400px;
}
.pla3 {
  width: 350px;
}
.pla4 {
  width: 250px;
}
@media (max-width: 500px) {
  .HomeR {
    margin-top: 0px;
    box-sizing: border-box;
  }
  .Presentacion {
    padding: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .Presentacion h1 {
    /* width: 100%; */
    font-family: "Noto Serif", serif;
    font-size: 40px;
    max-width: 400px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    transform: translateX(0px);
    z-index: 1;
  }

  .portadFond {
    z-index: 0;
    width: 100%;
    right: 0px;
    height: 100%;
    overflow: hidden;
    /* height: 1099px; */
    /* position: absolute; */
    object-fit: cover;
    transform: rotate(0deg);
  }

  .portadaSarten {
    width: 300px;
    transform: rotate(15deg);

    /* filter: drop-shadow(
      5px 0px 5px rgba(255, 255, 255, 0.629)
    ); */
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
  .menuTex {
    flex-direction: column;
    gap: 20px;
    /* margin-bottom: 0px; */
  }
  .textmenu {
    flex: 1;
    max-width: 350px;
    /* margin-bottom: 15px; */
    /* text-align: left; */
    font-family: "Noto Serif", serif;
    text-align: center;
    font-style: italic;
  }
  .conth2 {
    flex: 1;
    width: 300px;
    /* width: 500px; */
    display: flex;
    justify-content: end;
    flex-direction: column;
  }
  .menuTex h2 {
    text-align: center;
  }
  .disco {
    text-align: center;
  }
  .plato {
    /* flex-direction: column; */
    flex-direction: column-reverse;
    gap: 40px;
  }
  .par {
    flex-direction: column;
  }
}
